- page_title _("Service Templates")
- @content_class = 'limit-container-width' unless fluid_layout

- if show_service_templates_deprecated?
  .gl-alert.gl-alert-tip.js-service-templates-deprecated.gl-mt-5{ role: 'alert', data: { feature_id: UserCalloutsHelper::SERVICE_TEMPLATES_DEPRECATED, dismiss_endpoint: user_callouts_path } }
    = sprite_icon('bulb', css_class: 'gl-alert-icon gl-alert-icon-no-title')
    %button.js-close.gl-alert-dismiss{ type: 'button', aria: { label: _('Dismiss') } }
      = sprite_icon('close')
    %h4.gl-alert-title= s_('AdminSettings|Service Templates will soon be deprecated.')
    .gl-alert-body
      = s_('AdminSettings|Try using the latest version of Integrations instead.')
    .gl-alert-actions
      = link_to _('Go to Integrations'), integrations_admin_application_settings_path, class: 'btn btn-info gl-alert-action gl-button'
      = link_to _('Learn more'), help_page_path('user/admin_area/settings/project_integration_management'), class: 'btn btn-default gl-alert-action btn-secondary gl-button', target: '_blank', rel: 'noopener noreferrer'

%h3.page-title Service templates
%p.light= s_('AdminSettings|Service template allows you to set default values for integrations')

.table-holder
  %table.table
    %colgroup
      %col
      %col
      %col
      %col{ width: 135 }
    %thead
      %tr
        %th
        %th= _('Service')
        %th= _('Description')
        %th= _('Last edit')
    - @services.each do |service|
      - if service.type.in?(@existing_instance_types)
        %tr
          %td
          %td
            = link_to edit_admin_application_settings_integration_path(service.to_param), class: 'gl-text-blue-300!' do
              %strong.has-tooltip{ title: s_('AdminSettings|Moved to integrations'), data: { container: 'body' } }
                = service.title
          %td.gl-cursor-default.gl-text-gray-400
            = service.description
          %td
      - else
        %tr
          %td
            = boolean_to_icon service.activated?
          %td
            = link_to edit_admin_application_settings_service_path(service.id) do
              %strong= service.title
          %td
            = service.description
          %td.light
            = time_ago_with_tooltip service.updated_at
